body{
  background-color: black;
}

.logo{
  font-family: 'Orbitron', sans-serif;
}

#mainlogo{
  color: black;
}

.navbar{
  background-color: black !important;
  opacity: 0%;
}

.navbar a{
  color: white !important;
  margin: 0 15px 0 15px;
  font-weight:bold;
  font-size: 20px;
}

.navbar a:hover{
  color: gray !important;
}

/* Header */
.jumbotron{
  position: relative;
  overflow: hidden;
  text-align: center;
} 

.container {
  position: relative;
  color: #ffffff;
  z-index: 2;
}

/* Card Design */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0.2,0.2,0.4);
  transition: 0.3s;
  width: 80%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0.4,0.4,0.8);
}

.stream-card {
  box-shadow: 0 4px 8px 0 rgba(0,0.2,0.2,0.4);
  transition: 0.3s;
  width: 80%;
  background-color: #ffffff;
}

.stream-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0.4,0.4,0.8);
  cursor: pointer;
}

.stream-card, .stream-card .hovertext{
  color: black;
}

.container {
  padding: 2px 16px;
}

#scheduleHeader{
  text-align: center;
  margin: 25px 45px;
  color: white;
  font-family: 'Orbitron', sans-serif;
}

/* livestreams show and hide */
#streamHeader{
  text-align: center;
  color: white;
  margin: 20px 65px;
}

#live-iss{
  display: none;
}

#nasa-tv{
  display: none;
}

#livecontrols-desktop{
  margin-top: 35px;
  padding-top: 20px;
}

/* Frontpage Hyperlinks */
.responsive {
  width: 100%;
  height: 155px;
}

.linktext{
  text-align: center;
}

#homelink{
  text-decoration: none;
  color: black;
}

#scheduleHeader{
  width: 100%;
  margin: 0;
  padding: 0;
}

/* contact */
#header{
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 25px;
}

#contactinfo{
  margin: 45px 0 40px 0;
  padding: 25px;
  font-size: 20px;
}

#contactform{
  text-align: center;
}

#supportopen{
  margin-top: 55px;
}

#contactbtn{
  color: black;
  background-color: white;
  border: 1px solid black;
}

#contactbtn:hover{
  background-color: grey;
}

/* Modal */
.modal-header{
  text-align: center !important;
}

#contact-title{
  font-family: 'Orbitron', sans-serif;
}

/* livestream */
.liveHeader{
  font-family: 'Orbitron', sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 45px;
  padding: 20px 0 10px 0;
}

#showNews{
  display: none;
}

/* schedule */
#desktopschedule{
  margin-top: 35px;
}

#desktopschedule .col-7{
  margin: 40px 35px;
}

#desktopschedule .col-12{
  font-size: 20px;
  font-weight: bold;
}

#desktopschedule .col-7 .col-12 h5{
  font-size: 25px;
  font-weight: bold;
}

/* livefeed */
#ISSlocationText{
  text-align: center;
  margin-top: 25px;
  font-size: 20px;
}

#issinfo{
  font-family: 'Orbitron', sans-serif;
  margin-top: 25px;
  color: white;
}

#peopleinspace{
  margin-top: 25px;
}

.people{
  padding: 15px;
  color: white;
  text-align: center;
}

#numberinspace{
  color: white;
  text-align: center;
  margin-top: 55px;
  font-size: 35px;
}

#ISSinfo{
  font-size: 12px;
}

#rocketinformation{
  margin-top: 55px;
}

#dataHead{
  text-align: center;
  font-size: 25px;
  margin-top: 55px;
  padding: 10px;
}

#rocketinformation .col-md-6:hover{
  background-color: black;
}

#rocketinformation h2{
  margin-top: 35px;
}

#rocketinformation p{
  padding: 5px;
}

/* Footer */
.footer-bs {
background-color: #3c3d41;
padding: 60px 40px 0;
color: rgba(255,255,255,1.00);
border-bottom-right-radius: 6px;
border-top-left-radius: 0px;
border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
font-size: 11px;
text-transform: uppercase;
letter-spacing: 3px;
margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
font-size: 11px;
text-transform: uppercase;
letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00); font-weight:bold;}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
font-size: 11px;
text-transform: uppercase;
letter-spacing: 3px;
margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}

.SMicon img{
  width: 10%;
  height: auto;
}