#spacexlogo{
    width: 100%;
    height: auto;
  }

  #livecontrols-desktop{
      display: none;
  }

.jumbotron h1{
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
  }

#backgroundvideo{
    position: fixed;
      right: 0;
      bottom: 0;
      margin-top: 55px !important;
      min-width: 100%; 
      max-height: 100%;
  }  

#homecontent{
    margin: 55px 0 75px; 
    color: white;
    text-align: center;
}

#desktoplinks{
    display: none;
}

.col-10{
    margin-bottom: 30px;
}

#desktopnav{
    display: none;
}

#mobilelinks a{
    color: black;
}

#ISSlocationText{
    font-size: 25px;
}

#numberinspace{
    font-size: 25px;
}

.footer-bs{
    margin-top: 25px;
}

#livecontrols-mobile .col-12{
    margin-top: 20px;
    text-align: center;
}

#livecontrols-mobile input{
    width: 100%;
    background-color: black;
    color: white;
}

#livecontrols-mobile input:hover{
    background-color: white;
    color:black;
}